///////////////////////////
// search container scss //
///////////////////////////

@import "./../Helpers/variables.scss";

body {
  background: $background;
  background-size: contain;
  margin: 0;
  font-family: $textFontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: $gutter;
}

code {
  font-family: 'source-code-pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button,
input,
li,
p,
ul,
span {
  font-family: $textFontFamily;
}
