//////////////
// app scss //
//////////////

.App {
  padding-bottom: 200px; /* accounts for saved items container at bottom */
}

.section-title {
  font-size: 24px;
  margin: 0;
}

p.no-search-results {
  font-size: 24px;
  text-align: center;
  padding-top: 50px;
}

/* this class keeps elements accessible while not viewable to most users */
.visually-hidden { 
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}