//////////////////////
// save button scss //
//////////////////////

@import "./../Helpers/variables.scss";

.btn {
  background: #09c;
  border: none;
  border-radius: $border-radius;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2), -12px -12px 24px 0 rgba(255, 255, 255, 0.8);
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 12px;
  position: relative;
  text-transform: uppercase;
  transition: all 250ms ease-in-out;

  &:focus,
  &:hover {
    background: #069;
    box-shadow: none;
    transform: scale( 1.05 );
  }

  &.saved {
    background: #ac2431;
    overflow: hidden;
    
    &::after {
      background: #941e29;
      border-radius: $border-radius;
      content: 'Remove?';
      padding: 3px 0;
      position: absolute;
        top: 0;
        left: 0;
      transform: translateX( -100% );
      width: 100%;
      z-index: 1;
    }
    
    &:focus::after,
    &:hover::after {
      transform: translateX( 0 );
      transition: all 250ms ease-in-out;
    }
  }
}